.titulo {
   margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .titulo  , .artigo {
    margin: 10px;
    padding: 5px;
  }
  
  .artigo {
    background: white;
  }
  
  .artigo > h2, p {
    margin: 4px;
    font-size: 90%;
  }


  
  .h1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-color: gray;
  }
  
  footer {
      text-align: center;
      padding: 3px;
      background-color: rgb(206, 74, 74);
      color: white;
    }